* {
    margin: 0;
    /* padding: 0; */
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

.active {
    color: #fff;
    background-color: #004de6;
}

.checked {
    color: green;
}

.checked > div {
    text-decoration: line-through;
}

#root, .main {
    display: flex;
}

#root {
    align-items: center;
    height: 100%;
    justify-content: center;
    width: 100%;
    background-color: #c2e7c9;
}


.main {
    height: 100%;
    max-height: 568px;
    max-width: 400px;
    min-height: 568px;
    min-width: 400px;
    border-radius: 4px;
    position: relative;
    flex-direction: column;
    background-color: #9888fc;
}


#header {
    display: flex;
    padding: 16px 24px;
    justify-content: space-between;
    align-items: center;
}

#content {
    overflow-y: auto;
    height: 80%;
}

.input-content{
    padding: 16px 0;
    /* width: 100%; */
}
.search-task {
    padding: 0 24px 16px 24px;
}

.input-content input {
    width: 100%;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 4px;

}

.action-type {
    padding: 0 24px;
    width: 100%;
}

.action-type div {
    width: calc(88%/3);
    float: left;
    line-height: 1.6;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.action-type div:hover {
    opacity: 0.8;
    cursor: pointer;
}


.list-item {
    padding: 0 24px;
}

.item-info {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wrapper-content {
    overflow-y: auto;
    overflow-x: hidden;
}

.item {
    display: flex;
    width: 100%;
    padding-top: 16px;
    font-size: 20px;
}

.delete-btn {
    padding: 0 8px;
    width: 5%;
    color: red;
}

#footer {
    bottom: 0px;
    padding: 16px 24px;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
}

.input-task {
    width: 80%;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.add-btn {
    font-size: 24px;
    border: none;
    background-color: #4265D6;
    border-radius: 4px;
    color: #fff;
}

.add-btn:hover {
    color: red;
}