* {
    margin: 0;
    /* padding: 0; */
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

.active {
    color: #fff;
    background-color: #004de6;
}
#root, .main {
    display: flex;
}

#root {
    align-items: center;
    height: 100%;
    justify-content: center;
    width: 100%;
}


.main {
    height: auto;
    max-height: 568px;
    max-width: 400px;
    min-height: 568px;
    min-width: 400px;
    /* border: 1px solid red; */
    position: relative;
    flex-direction: column;
    
}


#header {
    display: flex;
    padding: 16px 24px;
    justify-content: space-between;
    align-items: center;
}

#content {
    overflow-y: auto;
}

.input-content{
    padding: 16px 0;
    /* width: 100%; */
}
.search-task {
    padding: 16px 24px;
}

.input-content input {
    width: 100%;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 4px;

}
.type-tasks {
    
}

.action-type {
    padding: 0 24px;
    width: 100%;
}

.action-type div {
    width: calc(100%/3);
    float: left;
    /* display: inline-block; */
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 2px;
}


.list-item {
    padding: 0 0 0 24px;
}

.item-info {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wrapper-content {
    overflow-y: auto;
    overflow-x: hidden;
}

.item {
    display: flex;
    width: 100%;
    padding-top: 16px;
}

/* .item-info {
    width: 80%;
} */
.delete-btn {
    width: 20%;
}

#footer {
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-btn {
    right: 0;
}